{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div id="container" style="background-color:#FAFAD2;">


        {% if actor %}
            <div id=detail-infro>
                <h1>{{ actor.name }}</h1>
                <p><a href="http://www.imdb.com/name/{{ actor.actorid }}" target="_self">See in IMDB</a></p>
            </div>
            <div id="main-pic">
                <a href="http://www.imdb.com/name/{{ actor.actorid }}" target="_self">
                <img border="0" src="{{ actor.photo }}" alt="Cannot load photo, sorry!" width="350" height="500">
                </a>
            </div>

            {% if items %}
            <h2>{{ actor.name }} in the following movie(s):</h2>
            <hr>
            {% endif %}
        {% endif %}


        {% for item in items %}
            <table>
                <tr>
                <td>
                    <a href="/movie/movie_detail/?id={{ item.movieid }}"
                           target="_self"><img border="0" src="{{ item.poster }}" alt="Cannot load photo, sorry!" width="180" height="250"
                                               style="padding: 10px;"></a>
                </td>
                <td style="vertical-align: top;text-align: left;padding: 10px;">
                    <h3><a href="/movie/movie_detail/?id={{ item.movieid }}"
                           target="_self">{{ item.title }}({{ item.year }})</a></h3>

                    <span class="stars">{{ item.rate }}</span>
                    <p class="stars">Rate: {{ item.rate }}</p>
                    <br>
                    <cite>{{ item.plot }}</cite>-->
                </td>
            </table>
            <hr>
        {% endfor %}

        <script>
            $(function () {
                $('span.stars').stars();
            });
            $.fn.stars = function () {
                return $(this).each(function () {
                    $(this).html($('<span />').width(Math.max(0, (Math.min(10, parseFloat($(this).html())))) * 8));
                });
            }

        </script>
    </div>
    </div>

{% endblock %}